@import url(https://fonts.googleapis.com/css?family=Inconsolata);
@import url(https://fonts.googleapis.com/css?family=Inconsolata:700);
@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url(https://fonts.googleapis.com/css?family=Roboto);

body{
	color: #2c3e50;
	font-family: 'Inconsolata', Courier, monospace;
}

p {
	line-height: 2em;
	padding-bottom: 20px;
}

ol {
	line-height: 2em;
	padding-bottom: 20px;
}

pre {
	margin-bottom: 30px;
}

sub {
	font-family: 'Inconsolata', Courier, monospace;
}

a:hover, a:focus {
    text-decoration: none;
}

#about-container {
	background: url(/assets/media/about.jpg) no-repeat;
	background-position: top;
	display: block;
	height: 100vh;
	overflow: hidden;
	background-size: cover;
	box-shadow: 0px 1px 5px #000;
}

#name-banner {
	font-family: 'Righteous', sans-serif;
	font-size: 20vmin;
	color: #fff;
	opacity: 0.9;
	text-align: center;
	padding-top: 30vh;
}

.sidebar {
	position: fixed;
	top: 0px;
	padding-top: 10%;
	padding-left: 4%;
	padding-right: 4%;
	color: #eee;
	background-color: #263238;
}

#bio {
	font-size: 30px;
	font-family: 'Inconsolata', Courier, monospace;
	margin: 0 auto;
	margin-bottom: 10px;
	color: #F44336;
	text-transform: lowercase;
}

#bio-small {
	font-family: 'Inconsolata', Courier, monospace;
	font-size: 18px;
	margin: 0 auto;
	margin-bottom: 20px;
	color: #fff;
}

.img-border {
	/*border: #fff solid 4px;*/
	border-radius: 100px;
	/*box-shadow: 1px 1px 1px #000;*/
}

.sidebar-header {
	text-align: center;
	margin-bottom: 10px;
}
.sidebar-header .title{
	letter-spacing: 3px;
	text-transform: uppercase;
}

.sidebar-header .title a{
	text-decoration: none;
	color: #fff;
}

#about-nav {
	text-align: center;
}

#about-nav a {
    display: inline-block;
	color: white;
	background: rgba(0, 0, 0, 0.6);
	font-size: 4vmin;
	padding: 2vmin;
	width: 20vw;
	margin-bottom: 5vh;
	border-radius: 5px;
}

#about-nav a:hover {
	background: rgba(0, 0, 0, 0.5);
	color: #F50057;
}

.about-section {
	padding: 10vh 10vh 0 10vh;
	margin: 0 auto;
	max-width: 1000px;
}

.about-section ul {
    list-style-type: none;
}

.about-section h1, h2, h3, h4 {
	color: #F50057;
}

.largepara {
	font-size: large;
	line-height: 200%;
}

.about-pic {
	width: 100%;
	height: 100%;
}

.logo {
	width: 10%;
	height: auto;
}

a.nav-link {
	padding-bottom: 5px;
	padding-top: 7px;
	color: #aaa;
}
a.nav-link i{
	font-size: 16px;
}
a.nav-link:hover { color: #777; }

#contact-list li .fa,
article .share .btn {
	-o-transition:color .2s ease-out, background 1s ease-in;
  -ms-transition:color .2s ease-out, background 1s ease-in;
  -moz-transition:color .2s ease-out, background 1s ease-in;
  -webkit-transition:color .2s ease-out, background 1s ease-in;
  transition:color .2s ease-out, background 1s ease-in;
}
#contact-list li:hover .fitwitter,
article .share .twitter:hover {
	color: #00ACEE;
	border-color: #00ACEE;
}
#contact-list li:hover .fa-linkedin {
	color: #1D87BD;
}
#contact-list li:hover .fa-envelope {
	color: #E93E30;
}
#contact-list li:hover .fa-pinterest {
	color: #CC2127;
}
#contact-list li:hover .fa-rss {
	color: #e74c3c;
}
article .share .facebook:hover {
	color: #43609C;
	border-color: #43609C;
}
article .share .gplus:hover {
	color: #C13929;
	border-color: #C13929;
}

#contact-list-secondary {
	padding-bottom: 10px;
}

.page-header {
	color: #e74c3c;
}

article{
	margin-bottom: 40px;
}

.article_body{
	margin-top: 20px;
	margin-bottom: 20px;
}

.post-date {
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 3px;
}

article {
	padding: 0 5% 0;
}

article.home div a, article.home pre a { color: #2c3e50; }
article.home div a:hover, article.home pre a:hover { color: #2c3e50; text-decoration: none; }
article img { max-width: 100%; }

h1,h2,h3,h4,h5,h6 { font-family: 'Inconsolata', Courier, monospace; }
article.home h1,
article.home h2,
article.home h3,
article.home h4,
article.home h5,
article.home h6 {
	font-family: 'Roboto', sans-serif;
	color: #f2756a;
}

article.home h1 a,
article.home h2 a,
article.home h3 a,
article.home h4 a {
	color: #f2756a;
}
article.home h1 a:hover,
article.home h2 a:hover,
article.home h3 a:hover,
article.home h4 a:hover {
	color: #e74c3c;
}

.author .author-image {
  float: left;
  margin-right: 20px;
}

footer {
	padding-top: 15px;
	font-family: 'Roboto';
}

/* nav-vertical-tabs component */
.nav-tabs-vertical {
    border-right: 1px solid #ddd;
}

.nav-tabs-vertical li {
    margin-right: -1px;
}

.nav-tabs-vertical>li.active>a, .nav-tabs-vertical>li.active>a:hover, .nav-tabs-vertical>li.active>a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-right-color: transparent;
}

.nav-tabs-vertical>li>a {
    line-height: 1.428571429;
    border: 1px solid transparent;
    border-radius: 4px 0 0 4px;
}

.badge { background: #F2756A; }

#nav-menu{
    position: fixed;
    top: 45px;
    right: 45px;
    z-index: 2000;
}
#nav-menu .dropdown-menu {
    left: inherit;
    right: 0px;
}

ul.dropdown-menu>li>a>i.fa {
    width: 1.3em;
}

code {
	font-family: 'Inconsolata', Courier, monospace;
	font-size: small;
}